
/*.table-container {*/
  /*position: relative;*/
  /*top: 30%;*/
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);*/
  /*background: linear-gradient(30deg, #007bff 0%, #99caff 45%, #007bff 100%);*/
/*}*/

h3 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.1em;
}

.cart-button {
  width: 50%;
}

.button-order {
  float: right;
  margin-top: 4%;
  width: 20%;
  background-color: #3396ff;
  border-color: #3396ff;
}
.button-order:hover{
  background-color: #006fe6;
  border-color: #006fe6;
}
.btn-add {
  background-color: #3396ff;
}
