<div class="container margines">
  <div class="row">

    <div class="col-lg-3">

      <h1 class="my-4">Biker Shop</h1>
      <a href="home" class="btn btn-light button-home">Powrót do strony głównej</a>

    </div>

    <div class="col-lg-9">

      <div *ngIf="isCartValid(); else emptyCart" class="table-container">
        <h2>KOSZYK: </h2>
          <table>
            <tr>
              <th>Produkt</th>
              <th>Cena</th>
              <th>Ilość</th>
              <th>Razem</th>
              <th>   </th>
            </tr>
            <tr *ngFor="let item of cart">
              <td>{{item.item.name}}</td>
              <td>{{item.item.price | currency: 'PLN '}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.item.price*item.quantity | currency: 'PLN '}}</td>
              <td>
                <button (click)="addToCart(item)" class="btn btn-light cart-button"> + </button>
                <button (click)="removeFromCart(item)" class="btn btn-dark cart-button"> - </button>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td><h3>Razem</h3></td>
              <td><h3>{{getTotal() | currency: 'PLN '}}</h3></td>
              <td></td>
            </tr>
          </table>

        <a *ngIf="authService.isAuthenticated()" href="order" class="btn btn-primary button-order">Zamów</a>
        <a *ngIf="!authService.isAuthenticated()" href="login" class="btn btn-primary button-order">Zaloguj się i zamów</a>
      </div>

      <ng-template #emptyCart>
        <div class="alert alert-info">Twój koszyk jest pusty</div>
      </ng-template>

      <!--<div class="col-lg-9">-->
    </div>
    <!--row-->
  </div>
  <!--container margines-->
</div>

