<div class="container margines">
  <div class="row">

    <div class="col-lg-3">

      <h1 class="my-4">Biker Shop</h1>
      <a href="home" class="btn btn-light button-home">Powrót do strony głównej</a>

    </div>

    <div class="col-lg-9">

      <div *ngIf="areThereAnyOrders(); else noOrders" class="table-container">
        <h2>Twoje zamówienia: </h2>
        <ul class="responsive-table">
          <li class="table-header">
            <div class="col col-1">Data</div>
            <div class="col col-2">Płatność</div>
            <div class="col col-3">Dostawa</div>
            <div class="col col-4">Razem</div>
          </li>
          <li class="table-row" *ngFor="let order of orders">
            <div class="col col-1" data-label="Data">{{order.date}}</div>
            <div class="col col-2" data-label="Płatnośće">{{order.payment}}</div>
            <div class="col col-3" data-label="Dostawa">{{order.delivery}}</div>
            <div class="col col-4" data-label="Razem">{{order.total | currency: 'PLN '}}</div>
          </li>
        </ul>
      </div>

      <ng-template #noOrders>
        <div class="alert alert-info">Nie masz jeszcze żadnych zamówień</div>
      </ng-template>


      <!--<div class="col-lg-9">-->
    </div>
    <!--row-->
  </div>
  <!--container margines-->
</div>
