<div class="container margines" xmlns:float="http://www.w3.org/1999/xhtml">
  <div class="row">

    <div class="col-lg-3">

      <h1 class="my-4">Biker Shop</h1>
        <a href="home" class="list-group-item">Powrót do strony głównej</a>

    </div>

    <div class="col-lg-9">

      <div class="card" *ngIf='product'>
        <a href="product/{{product.id}}"><img class="card-img" src="{{product.url}}" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">{{product.name}}</a>
          </h4>
          <button type="button" class="btn btn-info" style="float: right;" (click)="addToCart(product)">Dodaj do koszyka</button>
          <h5>Producent: {{product.producer}}</h5>
          <h5>{{product.price  | currency: 'PLN '}}</h5>
          <p class="card-text">{{product.description}}</p>
        </div>

        <div class="card-footer">
          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
      </div>
      <!-- /.col-lg-9 -->
    </div>

    <!-- /.row -->
  </div>

  <!-- /.container -->
</div>

